services:
  - type: web
    name: business-feasibility
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    branch: main
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: "False"
      - key: BACKEND_CORS_ORIGINS
        value: "*"